.container
{
    max-width: 1200px;
    margin: auto;
}
.title
{
    position: relative;
    padding-bottom: 10px;
    text-align: center;
}
.title::after
{
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
}